<section class="d-flex justify-content-center">
  <section class="mt-5 w-50">
    <h2 class="text-center">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
  </section>
</section>
