<section class="d-flex justify-content-center">
  <section class="mt-5 w-50">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="fName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fName" formControlName="fName" placeholder="First Name">
      </div>
      <div class="mb-3">
        <label for="lName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lName" formControlName="lName" placeholder="Last Name">
      </div>


      <button type="submit" class="btn btn-secondary" [disabled]="bookingForm.invalid">BOOK</button>

    </form>

    <section class="mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;" *ngFor="let event of events">
        <div class="card-body">
          <h5 class="card-title">{{event.eventName}}</h5>
          <h5>Available Ticket Count {{event.ticketCount}}</h5>
          <p class="card-text">{{event.eventDescription}}</p>
          <button type="button" class="btn btn-primary" (click)="bookTicket(event.eId)">Book A Ticket</button>

        </div>
      </div>
    </section>
  </section>
</section>
<section class="d-flex justify-content-center">
  <section class="mt-5 w-50">
    <h2 class="text-center">User List</h2>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Password</th>
        <th scope="col">UserName</th>
        <th scope="col">First Name</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngIf="bookings.length===0">
        <td colspan="6" class="text-center">No Users Found.</td>
      </tr>

      <tr *ngFor="let u of bookings">
        <td><button class="btn btn-primary mx-2" (click)="deleteBooking(u.bookingId)"> Delete</button> <button class="btn btn-primary"> Edit</button></td>
        <td>{{u.bookingId}}</td>
        <td>{{u.fName}}</td>
        <td>{{u.lName}}</td>
        <td>{{u.seatNum}}</td>

      </tr>

      </tbody>
    </table>

  </section>

</section>

